html {
    font-size: 62.5%;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background:brown;
    }

    &::-webkit-scrollbar-thumb {
        background: burlywood;
        border-radius: 5rem;
    }
}
body{
    background:brown;
    padding-bottom:6.5rem ;
}
section {
    padding: 5rem 9%;
}
.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 1000;
    align-items: flex-end;

    a {
        padding: 2rem;
        font-size: 2rem;
        background: #00001111;
        flex: 1;
        color: white;
        text-align: center;
        transition: 0.3s linear;
        text-decoration: none;

        &:hover {
            background: burlywood;
            padding-bottom: 4rem;

            i {
                color: white;
            }
        }
        i{
            padding-right: 0.8rem;
            color: burlywood;
        }
    }
   
}
.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    min-height: calc(100vh-6.5rem);

    .image {
        flex: 1 1 42rem;
        text-align: center;

        img {
            height: 45rem;
            width: 40rem;
            border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
        }
    }

    .content {
        flex: 1 1 42rem;
    }

    h3 {
        color: burlywood;
        font-size: 3.5rem;
        padding-bottom: 0.5rem;
    }

    span {
        font-size: 3rem;
        color: burlywood;
        padding: 0.5rem 0;
        display: block;
    }

    p {
       font-size: 1.5rem;
       color: burlywood;
       padding: 1rem 0;
       line-height: 2;
    }
}

.portfolio {
          text-align: center;
         .heading{
            color: white;
            font-size: 5rem;
            font-weight: normal;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            span{
                color: burlywood;
            }
         }
        

         .box-container{
             flex: 1;
             display: flex;
             flex-wrap: wrap;
             gap: 2rem;

            .box {
                 flex: 1;
                 padding: 2rem;
                 border-radius: 0.7rem;
                 text-align: center;
                 background: burlywood;
                 transition: 0.2s linear;

                 img {
                     height: 20rem;
                     margin-bottom: 1rem;
                 }

                 .content {
                     position: flex;
                     top: 0;
                     left: 0;
                     display: flex;
                     flex-flow: column;

                     h3 {
                         color: white;
                         font-size: 2rem;
                         font-weight: normal;
                     }

                     p{
                         color: brown;
                         font-size: 1.7rem;
                     }
                     a {
                         font-size: 1.5rem;
                         font-weight: normal;
                         color:white;

                         &:hover {
                             font-size: 1.8rem;
                             transition: 0.4s ;
                         }
                     }
                 }

                 &:hover {
                     background: rgb(255, 213, 158);
                 }

            }
 
        }

        .btn{
            font-size:2rem ;
            color:burlywood ;
            text-decoration: none;
           
          
        }   

    }