html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: brown;
}

html::-webkit-scrollbar-thumb {
  background: burlywood;
  border-radius: 5rem;
}

body {
  background: brown;
  padding-bottom: 6.5rem;
}

section {
  padding: 5rem 9%;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1000;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navbar a {
  padding: 2rem;
  font-size: 2rem;
  background: #00001111;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
  text-align: center;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  text-decoration: none;
}

.navbar a:hover {
  background: burlywood;
  padding-bottom: 4rem;
}

.navbar a:hover i {
  color: white;
}

.navbar a i {
  padding-right: 0.8rem;
  color: burlywood;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4rem;
  min-height: calc(100vh-6.5rem);
}

.home .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  text-align: center;
}

.home .image img {
  height: 45rem;
  width: 40rem;
  border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
}

.home .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.home h3 {
  color: burlywood;
  font-size: 3.5rem;
  padding-bottom: 0.5rem;
}

.home span {
  font-size: 3rem;
  color: burlywood;
  padding: 0.5rem 0;
  display: block;
}

.home p {
  font-size: 1.5rem;
  color: burlywood;
  padding: 1rem 0;
  line-height: 2;
}

.portfolio {
  text-align: center;
}

.portfolio .heading {
  color: white;
  font-size: 5rem;
  font-weight: normal;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.portfolio .heading span {
  color: burlywood;
}

.portfolio .box-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.portfolio .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2rem;
  border-radius: 0.7rem;
  text-align: center;
  background: burlywood;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.portfolio .box-container .box img {
  height: 20rem;
  margin-bottom: 1rem;
}

.portfolio .box-container .box .content {
  position: flex;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.portfolio .box-container .box .content h3 {
  color: white;
  font-size: 2rem;
  font-weight: normal;
}

.portfolio .box-container .box .content p {
  color: brown;
  font-size: 1.7rem;
}

.portfolio .box-container .box .content a {
  font-size: 1.5rem;
  font-weight: normal;
  color: white;
}

.portfolio .box-container .box .content a:hover {
  font-size: 1.8rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.portfolio .box-container .box:hover {
  background: #ffd59e;
}

.portfolio .btn {
  font-size: 2rem;
  color: burlywood;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */